﻿/*<meta />*/

body
{
	color: #404040;
	font-family: Arial;
	margin-bottom: 10pt;
	font-size: 10pt;
	line-height: 12pt;
	mc-hyphenate: never;
}

h1
{
	font-size: 24pt;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	lineheight: 28pt;
	margin-top: 24pt;
	border-bottom: solid 1px #000000;
	padding-top: 1pt;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-heading-level: 2;
	margin-bottom: 6pt;
	padding-bottom: 6pt;
}

h2
{
	font-size: 20pt;
	font-weight: bold;
	font-style: normal;
	line-height: 23pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
	mc-heading-level: 3;
	page-break-after: avoid;
}

h3
{
	margin-top: 10pt;
	font-size: 16pt;
	line-height: 18.4pt;
	font-weight: bold;
	font-style: normal;
	mc-heading-level: 4;
	page-break-after: avoid;
}

h4
{
	margin-bottom: 10pt;
	page-break-after: avoid;
	font-size: 12pt;
	mc-heading-level: 0;
	page-break-after: avoid;
}

p
{
	font-family: Arial;
	font-size: 10pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	column-break-inside: avoid;
	line-height: 13.8pt;
	margin-top: 0;
	mc-hyphenate: never;
	page-break-inside: avoid;
}

p.ProcedureIntro
{
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 10pt;
	margin-top: 0px;
	mc-heading-level: 0;
	page-break-after: avoid;
	line-height: 17pt;
}

p.SupportText
{
	color: #409b18;
}

p.AlertText
{
	mc-hyphenate: never;
	color: #b80c0c;
}

p.NormalIndent
{
	mc-hyphenate: never;
	font-size: 10pt;
	font-family: Arial;
	margin-right: 0;
	margin: 0;
	margin-bottom: 10pt;
	margin-left: 0.43in;
	line-height: 11.8pt;
}

MadCap|tocProxy
{
	border-top-width: 0;
	border-top-style: none;
	padding-left: 0px;
}

head
{
	font-family: Arial;
	font-size: 24pt;
	border-bottom: solid 1px #000000;
	margin-bottom: 6pt;
	margin-top: 24pt;
	page-break-after: avoid;
	page-break-before: always;
	page-break-inside: avoid;
}

MadCap|indexProxy
{
	mc-index-headings: false;
	margin-top: 0;
	padding-top: 0;
	border-top-style: none;
	border-top-width: 0;
	mc-column-count: 2;
	padding-left: 0;
}

p.TOC1
{
	font-weight: normal;
	margin-bottom: 1.12em;
	mc-leader-align: right;
	mc-auto-number-position: inside-head;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
}

p.TOC2
{
	margin-left: 0.3in;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
	mc-leader-align: right;
	mc-leader-indent: 1;
}

p.TOC3
{
	margin-left: 0.6in;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
	mc-leader-align: right;
	mc-leader-indent: 1;
}

p.TOC4
{
	margin-left: 0.9in;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
	mc-leader-align: right;
	mc-leader-indent: 1;
}

ol.Result
{
	display: list-item;
	mc-dita-type: ol;
	list-style-type: inherit;
	list-style-image: none;
}

p.Index1
{
	margin-top: 0;
	margin-bottom: 0;
}

p.Index2
{
	margin-bottom: 0;
	margin-top: 0;
}

p.Title1
{
	text-align: center;
	margin-top: 0;
	margin-bottom: 15pt;
	line-height: 32.5px;
	font-weight: bold;
	font-style: normal;
	font-size: 28pt;
}

p.Title2
{
	margin-top: 0;
	font-size: 22pt;
	line-height: 26pt;
	margin-bottom: 10pt;
	text-align: center;
}

p.Title3
{
	text-align: center;
	font-weight: bold;
	font-style: normal;
	font-size: 22pt;
	line-height: 25px;
	margin-bottom: 10pt;
	margin-top: 175px;
}

a
{
	
}

span.Hyperlink
{
	color: #148ab2;
	font-weight: normal;
	font-style: normal;
}

a:link
{
	color: #148ab2;
	text-decoration: none;
	font-size: 10pt;
}

p.Template
{
	mc-hyphenate: never;
	font-size: 8pt;
	margin-bottom: 0;
	line-height: normal;
	margin-top: 0;
}

p.Footer
{
	mc-hyphenate: never;
	line-height: normal;
}

p.TOC9
{
	line-height: 0pt;
	mc-pagenum-display: none;
	margin: 0;
	font-size: 0pt;
	visibility: hidden;
	color: transparent;
}

@media print
{
	h1
	{
		border-bottom: solid 1px #000000;
	}

	h2
	{
		font-size: 20pt;
	}

	h3
	{
		font-size: 16pt;
	}

	h4
	{
		font-size: 12pt;
	}

	h1.SectionHead
	{
		border-bottom-width: 1px;
		border-bottom: double 3px #000000;
		border-top: double 3px #000000;
	}

	li.NumberedList
	{
		orphans: 3;
		widows: 3;
		page-break-after: avoid;
	}

	ol
	{
		page-break-inside: avoid;
	}

	li
	{
		page-break-inside: avoid;
	}

	ul
	{
		page-break-inside: avoid;
	}

	li.BulletSingleStep
	{
		padding-left: 0in;
		/*margin-left: .13in;*/
	}

	img.FrontBackHardware
	{
		text-indent: -.13in;
	}

	p.KeepWithNext
	{
		page-break-after: avoid;
	}

}

h1.SectionHead
{
	border-bottom: double 3px #000000;
	border-top: double 3px #000000;
	page-break-before: always;
	margin-bottom: 30pt;
	mc-heading-level: 1;
}

li
{
	margin-bottom: 10pt;
	line-height: 12pt;
	list-style-type: inherit;
}

ul
{
	list-style-type: square;
}

li.BulletSingleStep
{
	
}

li.BulletListLevel1
{
	margin-bottom: 10pt;
	/*	list-style-type: disc;*/
	list-style-position: outside;
	list-style-type: none;
/*	margin-left: 0.14in;
	text-indent: -.25in;*/
	padding-left: 18px;
	position: relative;
	line-height: 18px;
}

li.BulletListLevel1:before
{
/*	font-family: "Wingdings 2";*/
	font-size: 16px;
	line-height: 18px;
	content: "\2022";
	vertical-align: middle;
	left: 0px;
	top: 30px;
	position: absolute;
}
*/

li.BulletListLevel2
{
	list-style-type: square;
	margin-left: 0.32in;
	list-style-position: outside;
	text-indent: 0.001in;
	margin-bottom: 10pt;
}

li.BulletListLevel3
{
	list-style-type: disc;
	list-style-position: outside;
	text-align: left;
	text-indent: -0.02in;
	margin-left: 0.55in;
}

/*li.BulletListLevel3::before
{
	font-family: "Wingdings";
	content: "\009F\180E";
}
*/

p.TOC
{
	font-family: Arial;
	font-size: 24pt;
	font-weight: bold;
	margin-top: 24pt;
	margin-bottom: 6pt;
	frame-break-before: always;
	border-bottom: solid 1px #000000;
	mc-heading-level: 0;
}

h1.TOC
{
	font-size: 24pt;
	margin-bottom: 6pt;
	margin-top: 24pt;
	border-bottom: solid 1px #000000;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-heading-level: 9;
}

h1.CoverPage
{
	font-size: 24pt;
	margin-bottom: 6pt;
	margin-top: 24pt;
	border-bottom: solid 1px #000000;
	page-break-after: avoid;
	page-break-inside: avoid;
	page-break-before: avoid;
	display: none;
	mc-heading-level: 1;
}

p.Title2
{
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}

p.CoverFooter
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 10pt;
	line-height: 1.15;
	column-break-inside: avoid;
}

p.TableText
{
	page-break-inside: avoid;
}

p.BulletResult
{
	mc-auto-number-position: outside-head;
	/*mc-auto-number-offset: 72pt;*/
	list-style-image: url('../Images/icon_caution.png');
	list-style-position: outside;
}

ul.Result	/*Result style*/
{
	list-style-image: none;
	margin-left: 0.75in;
	/*list-style-type: none;*/
}

ul.Result > li::marker
{
	font-size: 9pt;
	content: '❖';
}

li.BulletResult
{
	margin-bottom: 1.12em;
	margin-left: 0.01in;
	list-style-type: disc;
}

h1.Index
{
	font-size: 24pt;
	margin-top: 24pt;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-align: center;
	border-bottom: solid 1px #000000;
	mc-heading-level: 1;
	margin-bottom: 12pt;
}

li.CautionTitle
{
	list-style-position: outside;
	font-weight: bold;
	list-style-image: url('../Images/icon_caution.png');
	color: #000000;
	page-break-after: avoid;
}

li.NumberedList
{
	margin-bottom: 10pt;
	line-height: 11.5pt;
	margin-left: 0.13in;
	page-break-inside: avoid;
	widows: 2;
}

p.CautionAnswerText
{
	margin-left: 0.44in;
}

h1.SectionHead
{
	margin-left: 0;
	margin-right: 0;
	line-height: 36pt;
	margin-bottom: 6pt;
	page-break-before: always;
	font-family: Arial;
	font-weight: bold;
	font-style: normal;
	margin-top: 0;
	font-size: 28pt;
	border-top-style: double;
	border-top-width: 1px;
	border-bottom-style: double;
	border-bottom-width: 0.5pt;
	padding-left: 0pt;
	padding-right: 0pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

p.TableText
{
	
}

p.TableHeader
{
	font-weight: bold;
}

th
{
	font-weight: bold;
	text-align: left;
	background-color: #f2f2f2;
	vertical-align: text-top;
	margin-bottom: 10pt;
	padding: 3pt;
	padding-bottom: 10pt;
	/*border: solid 0.5px #000000;*/
}

td
{
	padding: 3pt;
	padding-bottom: 10pt;
	text-align: left;
	vertical-align: text-top;
	/*border: solid .5px #000000;*/
}

table
{
	/*border: solid 1px #000000;
	border-color: #000000;*/
}

img
{
	padding-bottom: -4px;
	margin: 2pt;
}

img.DeviceLogo
{
	height: 1.12in;
	width: auto;
}

img.CarrierLogo
{
	height: 2.2in;
	width: auto;
	text-align: center;
}

img.FrontBackHardware
{
	height: 3in;
	width: auto;
	orphans: 3;
	widows: 3;
	page-break-inside: avoid;
}

img.ScreenShot
{
	height: auto;
	width: 1.54in;
	font-style: normal;
}

img.Hardware
{
	height: 1.75in;
}

img.Icon
{
	height: .2in;
	width: auto;
}

img.GraphicLarge
{
	height: auto;
	width: 147px;
	max-width: 147px;
}

MadCap|xref
{
	color: #148ab2;
	text-decoration: none;
	mc-format: '{paratext}';
}

p.FrontPage
{
	font-family: Arial;
	font-size: 0pt;
	column-break-inside: avoid;
	line-height: 0pt;
	mc-pagenum-display: none;
	margin: 0;
	visibility: hidden;
	color: transparent;
	mc-heading-level: 9;
}

p.KeepWithNext
{
	font-family: Arial;
	font-size: 10pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	column-break-inside: avoid;
	line-height: 13.8pt;
	margin-top: 0;
	mc-hyphenate: never;
}

li.BulletSingleStep
{
	list-style-type: none;
	list-style-position: outside;
	margin-left: 0.1in;
	text-indent: -.21in;
}

li.BulletSingleStep::before
{
	font-family: "Wingdings";
	content: "\006E\2001";
}

p.Remove
{
	font-family: Arial;
	font-size: 10pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
	column-break-inside: avoid;
	line-height: 13.8pt;
	margin-top: 0;
	mc-hyphenate: never;
	mc-hidden: hidden;
}

h2.BreakBefore
{
	font-size: 20pt;
	font-weight: bold;
	font-style: normal;
	line-height: 23pt;
	margin-top: 10pt;
	margin-bottom: 6pt;
	mc-heading-level: 3;
	page-break-after: avoid;
	page-break-before: always;
}

h3.BreakBefore
{
	margin-top: 10pt;
	font-size: 16pt;
	line-height: 18.4pt;
	font-weight: bold;
	font-style: normal;
	mc-heading-level: 4;
	page-break-after: avoid;
	page-break-before: always;
}

p.ProcedureIntroBreakBefore
{
	font-size: 12pt;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 10pt;
	margin-top: 0px;
	mc-heading-level: 0;
	page-break-after: avoid;
	line-height: 17pt;
	page-break-before: always;
}

img.Callouts
{
	padding-bottom: -4px;
	margin: 2pt;
	width: auto;
	height: 351px;
}
