/*<meta />*/

body
{
	font-family: Arial;
	font-size: 10pt;
	mc-hyphenate: never;
}

h1
{
	font-size: 24pt;
	margin-bottom: 6pt;
	margin-top: 24pt;
	border-bottom: solid 1px #000000;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-heading-level: 2;
}

p
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 10pt;
	line-height: 1.15;
	column-break-inside: avoid;
}

h2
{
	margin-top: 10pt;
	margin-bottom: 0pt;
	font-size: 20pt;
	mc-heading-level: 3;
}

h3
{
	margin-bottom: 0pt;
	margin-top: 10pt;
	font-size: 16pt;
	mc-heading-level: 4;
}

h4
{
	margin-bottom: 10pt;
	page-break-after: avoid;
	font-size: 12pt;
	mc-heading-level: 0;
}

img
{
	padding-bottom: -4px;
	margin: 2pt;
}

li
{
	margin-bottom: 1.12em;
	list-style-type: inherit;
}

ul
{
	list-style-type: square;
}

MadCap|tocProxy
{
	border-top-width: 0;
	border-top-style: none;
	padding-left: 0px;
}

head
{
	font-family: Arial;
	font-size: 24pt;
	border-bottom: solid 1px #000000;
	margin-bottom: 6pt;
	margin-top: 24pt;
	page-break-after: avoid;
	page-break-before: always;
	page-break-inside: avoid;
}

MadCap|indexProxy
{
	mc-index-headings: false;
	margin-top: 0;
	padding-top: 0;
	border-top-style: none;
	border-top-width: 0;
	mc-column-count: 2;
	padding-left: 0;
}

p.TOC1
{
	font-weight: normal;
	margin-bottom: 1.12em;
	mc-leader-align: right;
	mc-auto-number-position: inside-head;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
}

p.TOC2
{
	margin-left: 0.3in;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
	mc-leader-align: right;
	mc-leader-indent: 1;
}

p.TOC3
{
	margin-left: 0.6in;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
	mc-leader-align: right;
	mc-leader-indent: 1;
}

p.TOC4
{
	margin-left: 0.9in;
	/*mc-leader-offset: -62pt;*/
	/*For Word target only*/
	mc-leader-align: right;
	mc-leader-indent: 1;
}

ol.Result
{
	display: list-item;
	list-style-type: none;
	mc-dita-type: ol;
}

p.Index1
{
	margin-top: 0;
	margin-bottom: 0;
}

p.Index2
{
	margin-bottom: 0;
	margin-top: 0;
}

a
{
	
}

@media print
{
	h1
	{
		border-bottom: solid 1px #000000;
	}

	h2
	{
		font-size: 20pt;
	}

	h3
	{
		font-size: 16pt;
	}

	h4
	{
		font-size: 12pt;
	}

	h1.SectionHead
	{
		border-bottom-width: 1px;
		border-bottom: double 3px #000000;
		border-top: double 3px #000000;
	}
}

h1.SectionHead
{
	border-bottom: double 3px #000000;
	border-top: double 3px #000000;
	page-break-before: always;
	margin-bottom: 30pt;
	mc-heading-level: 1;
}

p.SupportText
{
	color: #409b18;
}

li.BulletSingleStep	/*Single-step bullet*/
{
	
}

p.TOC
{
	font-family: Arial;
	font-size: 24pt;
	font-weight: bold;
	margin-top: 24pt;
	margin-bottom: 6pt;
	frame-break-before: always;
	border-bottom: solid 1px #000000;
	mc-heading-level: 0;
}

p.AlertText
{
	color: #b80c0c;
}

h1.TOC
{
	font-size: 24pt;
	margin-bottom: 6pt;
	margin-top: 24pt;
	border-bottom: solid 1px #000000;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-heading-level: 0;
}

h1.CoverPage
{
	font-size: 24pt;
	margin-bottom: 6pt;
	margin-top: 24pt;
	border-bottom: solid 1px #000000;
	page-break-after: avoid;
	page-break-inside: avoid;
	page-break-before: avoid;
	display: none;
	mc-heading-level: 1;
}

p.Title2
{
	text-align: center;
	font-size: 22pt;
	font-weight: bold;
}

p.CoverFooter
{
	font-family: Arial;
	font-size: 10pt;
	margin-bottom: 10pt;
	line-height: 1.15;
	column-break-inside: avoid;
}

p.TableText
{
	page-break-inside: avoid;
}

p.BulletResult
{
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 72pt;
}

ul.Result	/*Result style*/
{
	list-style-image: none;
	margin-left: 54pt;
	/*list-style-type: none;*/
}

ul.Result > li::marker
{
	content: '❖';
}

li.BulletResult
{
	margin-bottom: 1.12em;
}

h1.Index
{
	font-size: 24pt;
	margin-top: 24pt;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	text-align: center;
	border-bottom: solid 1px #000000;
	mc-heading-level: 1;
	margin-bottom: 12pt;
}

