/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Sprint Table Stylesheet;
	border-collapse: separate;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	max-id: 4;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	cell-padding-left: 0.08in;
	cell-padding-right: 0.08in;
	cell-padding-top: 0.02in;
	cell-padding-bottom: 10pt;
	mc-hide-bottom-ruling: false;
	overflow: scroll;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	type: Header;
	font-weight: bold;
	cell-content-style-tag: p;
	cell-content-style-class: TableText;
	text-align: left;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
	font-weight: bold;
	background-color: #f2f2f2;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 0.08in;
	cell-padding-right: 0.08in;
	cell-padding-top: 0.02in;
	cell-padding-bottom: 10pt;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	cell-padding-left: 0.08in;
	cell-padding-right: 0.08in;
	cell-padding-top: 0.02in;
	cell-padding-bottom: 12pt;
	text-align: left;
	vertical-align: top;
	page-break-inside: avoid;
	type: Automatic;
	cell-content-style-tag: p;
}


/* Cell Styles: */
 
.TableStyle-Sprint_Table_Stylesheet
{
	border-collapse: separate;
	mc-hide-bottom-ruling: false;
	overflow: scroll;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Sprint_Table_Stylesheet-Column-Column1
{
	
}

.TableStyle-Sprint_Table_Stylesheet-Column-Column2
{
	
}

.TableStyle-Sprint_Table_Stylesheet-Head-Header1
{
	
}

.TableStyle-Sprint_Table_Stylesheet-HeadI-Column1-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadI-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-HeadE-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadF-Column1-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-HeadF-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadH-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadD-Column1-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-HeadD-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadC-Column1-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadC-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadB-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadA-Column1-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadA-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadG-Column1-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadG-Column1-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadI-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadI-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadE-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-HeadE-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadF-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-HeadF-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadH-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadH-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadD-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-HeadD-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadC-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadC-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadB-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadB-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadA-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadA-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-HeadG-Column2-Header1
{
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	background-color: #f2f2f2;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-HeadG-Column2-Header1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootI-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-FootI-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootE-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-FootE-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootF-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-FootF-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootH-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-FootH-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootD-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-FootD-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootC-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-FootC-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootB-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-FootB-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootA-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-FootA-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootG-Column1-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-FootG-Column1- p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-FootI-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootI-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootE-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootE-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootF-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootF-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootH-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootH-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootD-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootD-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootC-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootC-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootB-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootB-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootA-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootA-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-FootG-Column2-
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 10pt;
}

.TableStyle-Sprint_Table_Stylesheet-FootG-Column2- p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyI-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyE-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyF-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyH-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyD-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyC-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyB-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyA-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyG-Column1-Body1
{
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	font-weight: bold;
	text-align: left;
	vertical-align: top;
}

.TableStyle-Sprint_Table_Stylesheet-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Sprint_Table_Stylesheet-BodyI-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
}

.TableStyle-Sprint_Table_Stylesheet-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyE-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyF-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyH-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
}

.TableStyle-Sprint_Table_Stylesheet-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyD-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Sprint_Table_Stylesheet-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyC-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
}

.TableStyle-Sprint_Table_Stylesheet-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyB-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
}

.TableStyle-Sprint_Table_Stylesheet-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyA-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
}

.TableStyle-Sprint_Table_Stylesheet-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Sprint_Table_Stylesheet-BodyG-Column2-Body1
{
	text-align: left;
	vertical-align: top;
	padding-left: 0.08in;
	padding-right: 0.08in;
	padding-top: 0.02in;
	padding-bottom: 12pt;
}

.TableStyle-Sprint_Table_Stylesheet-BodyG-Column2-Body1 p
{
	
}


